body{
    background-color: rgb(29, 29, 31);
    margin: 0px;
    font-family: Visby;
}

h1{
    font-size: 50px;
}




/* NAV */



#nav-bar{
    background-color: rgb(29, 29, 31, .5);
    backdrop-filter: blur(5px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    position: fixed;
    height: 35px;
    z-index: 100;
    width: 100vw;

}

#nav-logo{
    width: 25px;
    padding-right: 20px;
}

.togglebar{
    width: 20px;
    height: 3px;
    background-color: white;
    margin-top: 7px;
}
#nav-toggle{
    padding: 5px 10px 10px 10px;
}



#nav-option-wrap{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: rgb(29, 29, 31);
    position: fixed;
    width: 100%;
    z-index: 15;
    height: 100vh;
    opacity: 0;
    display: block;
    padding-top: 100px;
    transition:  opacity .25s ease-in-out;
    
}

#nav-option-wrap.fade{
opacity: 1;
z-index: 15;
}

#nav-option-wrap[class=""]{
    z-index: -500;
    
    }

.nav-option{
    text-align: center;
    color: white;
    padding: 15px;



}

.nav-option.closedlink{
    pointer-events: none;
}

.nav-option>a{
    color: white;
    text-decoration: none;
}

.toggle.active>#bar-one{
    transform: translateY(5px) rotate(45deg);
    transition: .4s ease;
}

.toggle.active>#bar-two{
    transform: translateY(-5px) rotate(-45deg);
    transition: .4s ease;
}



/* TOP INTRO */

#intro-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;

}

#main-word{
    /* color:rgb(144, 221, 144); */
    color: white;
    font-family: Visby;
    position: absolute;
    padding-bottom: 325px;
    text-align: center;
}
#headshot-img{
    position: absolute;
    width: 315px;
     filter: drop-shadow(5px 5px 5px #212121);
}
#developer{
    color: white;
    z-index: 10;
    font-family: Visby;
    margin-top: 250px;
    
}
#myname{
    
    color: white;
}


/* ABOUT */
#about-wrapper{
    padding-top: 75px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#about-head{
    font-size: 45px;
    color: white;
}
#sentences{
    color: white;
    /* text-align: center; */
    padding: 20px;
    font-size: 20px;
}

/* FONTS */
@font-face {
    font-family: 'Visby';
    src: url('/static/css/fonts/Visby.otf') format("truetype");
}

