body{
    background-color: rgb(29, 29, 31);
    margin: 0px;
    font-family: Visby;
    overflow-x: hidden;
}
::selection{
    background-color:rgb(144, 221, 144);
    color: #212121;
}
body::-webkit-scrollbar {
    width: 0px;   
}


html{
    overflow-x: hidden;
    font-family: Visby;
}
h1{
    font-size: 50px;
}

/* TOPO */

#topo-left{
    position: absolute;
    width: 125px;
    right: 0;
    z-index: 101;
       
}

#topo-right{
    position: absolute;
    width: 70px;
    bottom: 0;
    left: 0;
    
}

.topogone{
    display: none;
}
/* NAV */



#nav-bar{
    background-color: rgb(29, 29, 31, .5);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    -moz-backdrop-filter: blur(5px);
    -ms-backdrop-filter: blur(5px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    position: fixed;
    height: 35px;
    z-index: 100;
    width: 100vw;

}

.bgblur-white{
    background-color: rgba(250, 252, 255, .5) !important;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    -moz-backdrop-filter: blur(5px);
    -ms-backdrop-filter: blur(5px);

}
.navcolorchange>div{
    background-color: rgb(29, 29, 31);
}
.logocolorchange{fill:rgb(29, 29, 31) !important;}


#nav-logo{
    width: 25px;
    padding-right: 20px;
}

.togglebar{
    width: 20px;
    height: 3px;
    background-color: white;
    margin-top: 7px;
}
#nav-toggle{
    padding: 5px 10px 10px 10px;
}
#nav-toggle:hover{
    cursor: pointer;
}


#nav-option-wrap{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: rgb(29, 29, 31);
    position: fixed;
    width: 100%;
    z-index: 15;
    height: 100vh;
    opacity: 0;
    display: block;
    padding-top: 100px;
    transition:  opacity .25s ease-in-out;
    pointer-events: none;
    
}

#nav-option-wrap.fade{
opacity: 1;
z-index: 15;
pointer-events: all;
}
#nav-option-wrap.light-options{
    background-color: rgb(250, 252, 255);
    
}
#nav-option-wrap.light-options>.nav-option>a{
    color: rgb(29, 29, 31);
}
#nav-option-wrap.light-options>.nav-option>a:hover{
    color: rgb(120, 120, 130);
}
#nav-option-wrap[class=""]{
    z-index: -500;
    
    }

.nav-option{
    text-align: center;
    color: white;
    padding: 15px;
}
.nav-option>a:hover{
    color: rgb(205, 205, 205);
}
.nav-option.closedlink{
    pointer-events: none;
}

.nav-option>a{
    color: white;
    text-decoration: none;
}

.toggle.active>#bar-one{
    transform: translateY(5px) rotate(45deg);
    transition: .4s ease;
}

.toggle.active>#bar-two{
    transform: translateY(-5px) rotate(-45deg);
    transition: .4s ease;
}



/* TOP INTRO */

#intro-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;

}

#main-word{
    color: white;
    font-family: Visby;
    position: absolute;
    padding-bottom: 325px;
    text-align: center;
}
#headshot-img{
    position: absolute;
    width: 315px;
     filter: drop-shadow(5px 5px 5px #212121);
     animation: headshotBob 5s linear infinite;
}


@keyframes headshotBob {
    0% {
        transform: translateY(0px);
    }
    50% {
        transform: translateY(8px);
    }
    100%{
        transform: translateY(0px);
    }
}
#developer{
    color: white;
    z-index: 10;
    font-family: Visby;
    margin-top: 250px;
    
}
#myname{
    
    color: white;
}


/* ABOUT */
#about-wrapper{
    padding-top: 75px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#about-head{
    font-size: 45px;
    color: white;
}
#sentences{
    color: white;
    /* text-align: center; */
    padding: 20px;
    font-size: 20px;
}
#languages{
    display: flex;
    justify-content: space-evenly;
    
}
#languages>img{
    background-color: white;
    width: 60px;
}




/* Work */

#work-wrapper{
    display: flex;
    align-items: center;
    flex-direction: column;
    
    background-color: rgb(250, 252, 255);
    
}

#work-head{
    color: rgb(29, 29, 31);
    background-color: rgb(250, 252, 255);
    margin: 100px 0px 0px 0px;
    padding-top: 75px;
    text-align: center;
    
}

.site-wrap{
    width: 300px;
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;

}

.work-logo{
    width: 75px;
    overflow-x: hidden;
    position: absolute;
    border: 4px solid rgb(29, 29, 31);
    z-index: 10;
    margin-top: 40px;
    
    
    
}
.work-img{
    width: 100%;
    border: 4px solid rgb(29, 29, 31);
    margin: 0px auto;
    
}
.work-links{
    width: 300px;
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    z-index: 11;
    margin-top: 25px;
    
}
.qr-links{
    background-color: #ef3e23;
    
}
.dream-links{
    background-color: #212121;
}
.weather-links{
    background-color: rgb(58, 208, 242);
}
.work-links>a{
    border: 4px solid rgb(29, 29, 31);
    padding: 10px;
    color: white;
    text-decoration: none;
    width: 120px;
    text-align: center;
    z-index: 11;
}

#dream-logo{
    background-color: #212121;
    height: 55px;
    width: 55px;
    padding: 10px;
    border: 4px solid rgb(29, 29, 31);
}

#weather-logo{
    background-color: rgb(58, 208, 242);
    height: 55px;
    width: 55px;
    padding: 10px;
}
#work-languages{
    display: flex;
    justify-content: space-evenly;
    width: 300px;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 100px;
    
    
}
#work-languages>img{
    background-color: white;
    width: 60px;
    border: 4px solid rgb(29, 29, 31);
}

/* EDUCATION */
#education-wrapper{
    height: 1000px;
    padding-top: 75px;
}

#edu-head{
    color: white;
    text-align: center;
}

#pdxcode-title{
    color: white;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
#guild-logo{
    width: 35px;
    padding-left: 15px;
}

#clock-section{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#time-tags{
    display: flex;
    flex-direction: column;
    
}
.edu-taglines{
    color: white;
}
#clock-outline{
    width: 350px;
    height: 350px;
    border: 20px solid white;
    border-radius: 500px;
    margin-left: -60%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}
#clock-outline>img{
    
    position: absolute;
    transform: rotate(25deg);
}

#hour-hand{
    background-color: white;
    width: 275px;
    height: 15px;
    position: absolute;
    transform: rotate(45deg);
    animation: clockRotate 15s linear infinite;
    
}
#min-hand{
    background-color: white;
    width: 225px;
    height: 15px;
    
    
    position: absolute;
    animation: clockRotate 5s linear infinite;
}

/* #sec-hand{
    background-color: rgb(144, 221, 144);
    width: 225px;
    height: 5px;
    color: white;
    margin-left: -110%;
    position: absolute;
    animation: clockRotate 8s linear infinite;
}
 */



#teaches-section{
    margin-top: 100px;
    padding: 0px 25px 0px 25px;
    margin-bottom: 100%;
    
}
.teachsub-section{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-top: 75px;
    
}

.align-start{
    align-items: flex-start;
}
.frameworks{
    color: white;
}
#frameworklogo-wrap{
    width: 75%;
    position: absolute;
    display: flex;
    justify-content: start;
    align-items: center;
    margin: 0 auto;
    height: 400px;
    animation: headshotBob 3s linear infinite;
}
#frameworklogo-wrap>img{
    width: 40%;
}

#programminglogo-wrap{
    width: 75%;
    position: absolute;
    display: flex;
    justify-content: end;
    align-items: center;
    margin: 0 auto;
    height: 400px;
    /* margin-left: 100px; */
    animation: headshotBob 3.5s linear infinite;
}
#programminglogo-wrap>img{
    width: 40%;
}
#graduated-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 950px;
}

#grad-title{
    color: white;
    text-align: center;
}

#cert-img{
    width: 250px;
    border:4px solid #f37024;
}

#cert-title{
    
    border: solid #f37024;
    border-width: 0px 4px 4px 4px;
    width: 250px;
    padding: 10px 0px 10px 0px;
    text-align: center;
    color: white;
}

#tech-tools{
    align-items: center;
}

#resume-link {
    color:#f37024;
    margin: 60px 0px 0px 0px;
    padding: 15px;
}
#resume-link:hover{
    color:#c24700;
}
/* REACH OUT */
#topo-reach-right{
    position: absolute;
    width: 70px;
    right: 0;
    transform: scaleX(-1);
    margin-top: 300px;
}

#topo-reach-left{
    position: absolute;
    width: 110px;
    transform: scaleX(-1);
    left: 0;
    
}

#reachout-section{
    background-color: rgb(250, 252, 255);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
    padding-bottom: 100px;
    
    
}
#reachout-section>h1{
    margin-top: 100px;
}
#reach-links{
    width: 325px;
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    z-index: 11;
    margin-top: 25px;
}
.reach-btns{
    border: 4px solid rgb(29, 29, 31);
    background-color: #0f0f0f;
    padding: 15px;
    color: white;
    text-decoration: none;
    text-align: center;
    z-index: 11;
    width: 100px;
}
.reach-btns:hover{
    background-color: #282828;
    cursor: pointer;
}




/* FOOTER */
#footer-wrap{
    color: white;
    text-align: center;
    padding: 10px;
    
}
@keyframes clockRotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}









/* FONTS */
@font-face {
    font-family: 'Visby';
    src: url('/static/portfolio/font/visby.ttf');
}


/* MEDIA QURIES */



@media screen and (min-width: 768px) { /* TABLET */
    h1{
        font-size: 65px;
    }
    .nav-option{
        font-size: 30px;
        padding: 25px 0px 25px 0px;
    }
    #about-wrapper{
        padding: 30px 50px 0px 50px;
    }
    #languages{
        width: 500px;
        margin: 0 auto;
    }
    #sentences{
        font-size: 30px;
    }
    #teachsub{
        max-width: 100vw;
    }
  
    
    #clock-section{
        margin: 200px 0px 200px 0px;
    }
    #clock-outline{
        width: 600px;
        height: 600px;
        margin-left: -55%;
    }

    #hour-hand{
        width: 350px;
        height: 20px;
        animation: clockRotate 6s linear infinite;
    }
    #min-hand{
        width: 300px;
        height: 20px;
        animation: clockRotate 3s linear infinite;
    }

    #time-tags>h2{
        font-size: 40px;
    }

    .edu-taglines{
        font-size: 40px;
    }
    
    .frameworks{
        font-size: 30px;
    }
    #frameworklogo-wrap{
        height: 500px;
        width: 85%;
    }
    #frameworklogo-wrap>img{
        width: 200px;
    }

    #programminglogo-wrap{
        height: 600px;
        width: 85%;
    }
    #programminglogo-wrap>img{
        width: 200px;
    }
    #graduated-section{
        margin-top: 2100px;
    }
    #grad-title{
        font-size: 40px;
    }
    #cert-img{
        width: 500px;
    }
    #cert-title{
        width: 500px;
        font-size: 25px;
    }
    #resume-link{
        font-size: 20px;
    }
    #reach-links{
        margin-top: 50px;
        width: 300px;
    }
}

@media screen and (min-width: 1024px) {
    .work-logo{
        filter: drop-shadow(0px 35px 30px #bbbbbb);
    }
    .work-img{
        filter: drop-shadow(0px 35px 30px #bbbbbb);
    }
    h1{
        font-size: 65px !important;
    }
    #work-wrapper{
        align-items: center;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;  
        min-height: 850px;
    }
    
    .qr-links:hover{
        background-color: #c7341d;
        
    }
    .dream-links:hover{
        background-color: #0f0f0f;
    }
    .weather-links:hover{
        background-color: rgb(48, 174, 202);
    }
    #about-wrapper{
        width: 750px;
        margin: 0 auto;
    }
    #education-wrapper{
        width: 1000px;
        margin: 0 auto;
        
    }
    #clock-outline{
        width: 550px;
        height: 550px;
        border: 20px solid white;
        border-radius: 500px;
        margin-left: 0%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        /* transform: skew(-15deg, -15deg); */
        
    }
    #hour-hand{
        background: linear-gradient(to right, rgba(255,255,255,1) 50%, rgba(243, 8, 8, 0) 50%);
        width: 350px;
        height: 15px;
        color: white;
        margin-left: 0%;
        position: absolute;
        transform: rotate(45deg);
        animation: clockRotate 15s linear infinite;
        
    }
    #min-hand{
        background: linear-gradient(to right, rgba(255,255,255,1) 50%, rgba(243, 8, 8, 0) 50%);
        width: 275px;
        height: 15px;
        color: white;
        margin-left: 0%;
        position: absolute;
        animation: clockRotate 5s linear infinite;
    }
    #frameworklogo-wrap{
        width: 800px;
        position: absolute;
        display: flex;
        justify-content: start;
        align-items: center;
        margin: 0 auto;
        height: 400px;
        animation: headshotBob 3s linear infinite;
        padding: 100px 0px 0px 0px;
    }
    #frameworklogo-wrap>img{
        width: 40%;
        max-width: 200px;
    }
    #programminglogo-wrap{
        width: 800px;
        position: absolute;
        display: flex;
        justify-content: end;
        align-items: center;
        margin: 0 auto;
        height: 400px;
        animation: headshotBob 3.5s linear infinite;
        padding: 100px 100px 0px 0px;
    }
    #programminglogo-wrap>img{
        width: 40%;
        max-width: 200px;
    }
}