<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gage Lieble</title>
    <link rel="stylesheet" href="{% static 'css/style.css'%}">
    <script defer src="{% static 'js/main.js' %}"></script>
</head>
<body>
    <img id="topo-left" src="{% static 'imgs/topoL.svg' %}" alt="">
    <img id="topo-right" src="{% static 'imgs/topoR.svg' %}" alt="">
    <div id="nav-bar">
        <div id="nav-toggle" class="toggle">
            <div id="bar-one" class="togglebar"></div>
            <div id="bar-two" class="togglebar"></div>
        </div>
        <img id="nav-logo" src="{% static 'imgs/glogo.svg' %}" alt="">
    </div>


    <div id="nav-option-wrap">
        <div class="nav-option" id="nav-projects"><a href="javascript:void(0)">Projects</a></div>
        <div class="nav-option" id="nav-education"><a href="javascript:void(0)">Education</a></div>
        <div class="nav-option" id="nav-reachout"><a href="javascript:void(0)">Reach Out</a></div>
        <div class="nav-option" id="nav-about"><a href="javascript:void(0)">Who am I?</a></div>
    </div>


    <div id="intro-wrapper">
        
        <h1 id="main-word">SOFTWARE</h1>
        <img id="headshot-img" src="{% static 'imgs/gagehead.png' %}" alt="">
        <h1 id="developer">DEVELOPER</h1>
        <h4 id="myname">Hey, Im <span style="color:rgb(144, 221, 144);">Gage Lieble</span></h4>
    </div>
    
    <div id="about-wrapper">
        
        <h1 id="about-head">WHO AM I?</h1>
        <div id="sentences">
            <p>I was born in the City of Roses, Portland OR</p>
            <p>I am a recent graduate from PDX code guild</p>
            <p>PDX code guild is a fullstack python based bootcamp that has taught me everything from programming to working with others on projects.</p>
            <p>My interst in software began in my early years of middle school</p>
            <p>In middle school I created my first website. That website was developed using HTML and CSS exclusivly which I taught myself by watching various Youtube tutorials and reading through tons of pages on StackOverflow.</p>
            <p>My programming abilities have definetly improved since then and I am glad to make my childhood passion into a reality.</p>
            <p style="text-align:center">some of my tech knowlege</p>
            
        </div>
        </div><div id="languages"><img src="{% static 'imgs/django.svg' %}" alt="">
            <img src="{% static 'imgs/python.svg' %}" alt="">
            <img src="{% static 'imgs/javascript.svg' %}" alt="">
            <img src="{% static 'imgs/git.svg' %}" alt="">
    </div>


    <div id="work-wrapper">
        <h1 id="work-head">IVE BUILT</h1>
        
        <div class="site-wrap">
            <img class="work-logo" src="{% static 'imgs/qrlogo.svg' %}" alt="qrlogo">
            <img class="work-img" src="{% static 'imgs/qrscreen.jpg' %}" alt="qrscreen">
        </div>
        <div class="work-links"><a class="qr-links" href="https://github.com/Gage-Lieble/QrPixel">Github ></a><a class="qr-links" href="http://qrpixel.herokuapp.com/">QrPixel ></a></div>
        <div id="work-languages">
            <img src="{% static 'imgs/javascript.svg' %}" alt="">
            <img src="{% static 'imgs/django.svg' %}" alt="">
            <img src="{% static 'imgs/python.svg' %}" alt="">
            </div>
    
        <div class="site-wrap">
            <img id="dream-logo" class="work-logo" src="{% static 'imgs/dreamstreamlogo.svg' %}" alt="dreamlogo">
            <img class="work-img" src="{% static 'imgs/dreamstreamscreen.jpg' %}" alt="dreamscreen">
        </div>
        <div class="work-links"><a class="dream-links" href="https://github.com/Gage-Lieble/DreamStream">Github ></a><a class="dream-links" href="https://dream-stream-capstone.herokuapp.com/">DreamStream ></a></div>
        <div id="work-languages">
            <img src="{% static 'imgs/javascript.svg' %}" alt="">
            <img src="{% static 'imgs/django.svg' %}" alt="">
            <img src="{% static 'imgs/python.svg' %}" alt="">
            </div>


        
        <div class="site-wrap">
            <img id="weather-logo" class="work-logo" src="{% static 'imgs/weatherlogo.svg' %}" alt="weatherlogo">
            <img class="work-img" src="{% static 'imgs/weatherscreen.jpg' %}" alt="weatherscreen">
        </div>
        <div class="work-links"><a class="weather-links" href="https://github.com/Gage-Lieble/APIweatherapp">Github ></a><a class="weather-links" href="https://gagelieble.com/weather/g/">Weather ></a></div>
        <div id="work-languages">
            <img src="{% static 'imgs/django.svg' %}" alt="">
            <img src="{% static 'imgs/python.svg' %}" alt="">
            </div>

    </div> 
    
    



    <div id="education-wrapper">
        <h1 id="edu-head">EDUCATION</h1>
        <h2 id="pdxcode-title">PDX CODE GUILD <img id="guild-logo" src="{% static 'imgs/guildlogo.svg' %}" alt=""></h2>
        <div id="clock-section">
            
        <div id="clock-outline"><img src="{% static 'imgs/clockdots.svg' %}" alt=""></div><span id="hour-hand"></span><span id="min-hand"></span><span id="sec-hand"></span>
        <div id="time-tags">
        <h2 style='margin-left: -25px;' class="edu-taglines">Is a</h2>
        <h2 class="edu-taglines">500+ hour</h2>
        <h2 class="edu-taglines">16 week</h2>
        <h2 style='margin-left: -25px;' class="edu-taglines">Course</h2>
    </div>
    </div>
    <div id="teaches-section">
    <h2 class="edu-taglines">That teaches . . .</h2>

        <div class="teachsub-section">
            <h2 class="edu-taglines">Various Frameworks</h2>
            <div id="frameworklogo-wrap">
                <img src="{% static 'imgs/frameworklogos.svg' %}" alt="">
            </div>
            <h3 class="frameworks">Django</h3>
            <h3 class="frameworks">Vue.js</h3>
            <h3 class="frameworks">Django Rest</h3>
            <h3 class="frameworks">Flask</h3>
            
        </div>

        <div class="teachsub-section align-start">
            <h2 class="edu-taglines">Programming Languages</h2>
            <div id="programminglogo-wrap">
                <img src="{% static 'imgs/programminglogos.svg' %}" alt="">
            </div>
            <h3 class="frameworks">Python</h3>
            <h3 class="frameworks">Javascript</h3>
            <h3 class="frameworks">Html</h3>
            <h3 class="frameworks">Css</h3>
        </div>

        <div class="teachsub-section" id="tech-tools">
            <h2 class="edu-taglines">Technical Tools</h2>
            <h3 class="frameworks">SQL</h3>
            <h3 class="frameworks">REST API</h3>
            <h3 class="frameworks">Github</h3>
            <h3 class="frameworks">Pip Packages</h3>
            
        </div>

        
</div>
    </div>

    <div id="graduated-section">
        <h2 id="grad-title">I Graduated in 2022!</h2>
        <img id="cert-img" src="{% static 'imgs/cert.jpg' %}" alt="cert">
        <div id="cert-title">PDX Code Guild Certification</div>
        <a id="resume-link" href="{% static 'imgs/GageLiebleResume8-27.pdf' %}">My Resume ></a>
    </div>

    <div id="reachout-section">
        <h1>REACH OUT</h1>
        <h2>gagelieble@hotmail.com</h2>
        <div id="reach-links">
            <div id="linkedin-wrap">
            <div class='reach-btns' id="linkedin-btn"><a href="https://www.linkedin.com/in/gage-lieble-954076229">Linkedin</a></div>
            <img id="linkedin-logo" src="{% static 'imgs/linkedinLight.svg' %}" alt="">
        </div>
            <div id="github-wrap">
            <div class='reach-btns' id="github-btn"><a href="https://github.com/Gage-Lieble">Github</a></div><img id="githublight-logo" src="{% static 'imgs/gitLight.svg' %}" alt=""></div>
        </div>
    </div>

    <div id="footer-wrap">
        copyright &copy; 2022 gage lieble
    </div>
</body>
</html>